
<div class="col-sd-6 col-md-5 col-lg-4 col-xl-3 pt-1 pb-3 ml-5 bg-gradient-light">
    <div class="font-weight-bold h3 pt-1 pb-3">Statistika:</div>

    <a href="{{ route('admin.videostats') }}" class="font-weight-bold text-secondary text-decoration-none">
        <p class="pt-2">
            <i  class="far fa-chart-bar h3 px-3"></i>
            Video statistika
        </p>
    </a>

    <a href="{{ route('admin.user') }}" class="font-weight-bold text-secondary text-decoration-none">
        <p class="pt-2">
            <i  class="fas fa-users h3 px-3"></i>
            Registruoti Vartotojai
        </p>
    </a>

    <a href="{{ route('admin.income') }}" class="font-weight-bold text-secondary text-decoration-none">
        <p class="pt-2">
            <i  class="fas fa-coins h3 px-3"></i>
            Apyvarta
        </p>
    </a>

    <div class="font-weight-bold h3 py-3">Video:</div>
    <a href="{{ route('admin.addVideo') }}" class="font-weight-bold text-secondary text-decoration-none">
        <p class="pt-2">
            <i  class="fas fa-video h3 px-3"></i>
            Nauajas Vaizdo Irasas
        </p>
    </a>

    <a href="{{ route('admin.addCourse') }}" class="font-weight-bold text-secondary text-decoration-none">
        <p class="pt-2">
            <i  class="fas fa-film h3 px-3"></i>
            Sukurti Kursa
        </p>
    </a>

    <a href="{{ route('admin.editCourse') }}" class="font-weight-bold text-secondary text-decoration-none">
        <p class="pt-2">
            <i  class="fas fa-edit h3 px-3"></i>
            Redaguoti kursą
        </p>
    </a>
</div>
