<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
    <script src="{{ asset('/js/app.js') }}" defer></script>
    <script src="https://kit.fontawesome.com/e11eec7af8.js" crossorigin="anonymous"></script>
    <title> {{ title }}</title>
</head>
<body>
{{ include('components/adminTopNavbar.html.twig') }}

<div class="container-fluid pt-3">
    <div class="row">

        <!-- Side navigation  -->
        {{ include('components/adminSideBarNav.html.twig') }}

        {% block content %}{% endblock %}
    </div>
</div>

</body>
</html>
