{% extends "template.php.twig" %}

{% block content %}


    <!-- Top Navigation -->


    <nav class="navbar navbar-light bg-light p-0 ">
        <h3 class="col-xs-10 col-md-10 text-center">Administratoriaus skydelis:</h3>
        <p class="col-xs-1 col-md-1 text-center">Atsijungti</p>
        <p class="col-xs-1 col-md-1 text-center">Profilis</p>
    </nav>


    <div class="container d-flex pt-3">

    <!-- Side navigation  -->

    {{ include('components/adminSideBarNav.html.twig') }}


        <!-- Content -->

        <div class=" col-md-8 d-flex">
            <div class="d-flex">
                <div class="">
                    <div class="row mx-auto ">
                        <div class="col-md-4 d-inline-flex">
                            <div class="thumbnail ">
                                <a href="{{ route('course.videos') }}">
                                    <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                         alt="2" style="width:100%">
                                    <div class="text-center">
                                        <a href="{{ route('course.videos') }}"
                                           class="btn btn-secondary btn-lg active mt-1 mb-5"
                                           role="button" aria-pressed="true">Peržiūra</a>
                                    </div>
                                </a>
                                <div class="">
                                    <p>Peržiūrėta: XXX kartų</p>
                                    <p>Įkelta: 2019-10-10</p>
                                    <p>Komentarai: 6 žiūrėti</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 d-inline-flex">
                            <div class="thumbnail ">
                                <a href="{{ route('course.videos') }}">
                                    <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                         alt="2" style="width:100%">
                                    <div class="text-center">
                                        <a href="{{ route('course.videos') }}"
                                           class="btn btn-secondary btn-lg active mt-1 mb-5"
                                           role="button" aria-pressed="true">Peržiūra</a>
                                    </div>
                                </a>
                                <div class="">
                                    <p>Peržiūrėta: XXX kartų</p>
                                    <p>Įkelta: 2019-10-10</p>
                                    <p>Komentarai: 6 žiūrėti</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-inline-flex">
                            <div class="thumbnail ">
                                <a href="{{ route('course.videos') }}">
                                    <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                         alt="2" style="width:100%">
                                    <div class="text-center">
                                        <a href="{{ route('course.videos') }}"
                                           class="btn btn-secondary btn-lg active mt-1 mb-5"
                                           role="button" aria-pressed="true">Peržiūra</a>
                                    </div>
                                </a>
                                <div class="">
                                    <p>Peržiūrėta: XXX kartų</p>
                                    <p>Įkelta: 2019-10-10</p>
                                    <p>Komentarai: 6 žiūrėti</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-inline-flex">
                            <div class="thumbnail ">
                                <a href="{{ route('course.videos') }}">
                                    <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                         alt="2" style="width:100%">
                                    <div class="text-center">
                                        <a href="{{ route('course.videos') }}"
                                           class="btn btn-secondary btn-lg active mt-1 mb-5"
                                           role="button" aria-pressed="true">Peržiūra</a>
                                    </div>
                                </a>
                                <div class="">
                                    <p>Peržiūrėta: XXX kartų</p>
                                    <p>Įkelta: 2019-10-10</p>
                                    <p>Komentarai: 6 žiūrėti</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 d-inline-flex">
                            <div class="thumbnail ">
                                <a href="{{ route('course.videos') }}">
                                    <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                         alt="2" style="width:100%">
                                    <div class="text-center">
                                        <a href="{{ route('course.videos') }}"
                                           class="btn btn-secondary btn-lg active mt-1 mb-5"
                                           role="button" aria-pressed="true">Peržiūra</a>
                                    </div>
                                </a>
                                <div class="">
                                    <p>Peržiūrėta: XXX kartų</p>
                                    <p>Įkelta: 2019-10-10</p>
                                    <p>Komentarai: 6 žiūrėti</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 d-inline-flex">
                            <div class="thumbnail ">
                                <a href="{{ route('course.videos') }}">
                                    <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                         alt="2" style="width:100%">
                                    <div class="text-center">
                                        <a href="{{ route('course.videos') }}"
                                           class="btn btn-secondary btn-lg active mt-1 mb-5"
                                           role="button" aria-pressed="true">Peržiūra</a>
                                    </div>
                                </a>
                                <div class="">
                                    <p>Peržiūrėta: XXX kartų</p>
                                    <p>Įkelta: 2019-10-10</p>
                                    <p>Komentarai: 6 žiūrėti</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 d-inline-flex">
                            <div class="thumbnail ">
                                <a href="{{ route('course.videos') }}">
                                    <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                         alt="2" style="width:100%">
                                    <div class="text-center">
                                        <a href="{{ route('course.videos') }}"
                                           class="btn btn-secondary btn-lg active mt-1 mb-5"
                                           role="button" aria-pressed="true">Peržiūra</a>
                                    </div>
                                </a>
                                <div>
                                    <p>Peržiūrėta: XXX kartų</p>
                                    <p>Įkelta: 2019-10-10</p>
                                    <p>Komentarai: 6 žiūrėti</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
