{% extends "templateAdmin.php.twig" %}

{% block content %}
    <div class="col">
        <div class="row">
            {% for course in courses %}
                <div class="col-12 col-md-6 col-lg-4 justify-content-center text-center">
                    <figure class="figure">
                        <figcaption class="figure-caption">
                            <a href="{{ route('admin.editCourse', {'courseId':course.id}) }}">
                                <img src="{{ course.picture }}" alt="Figure image{{ course.id }}">
                            </a>
                            <h6>{{ course.name }} <small>({{ course.createdOn }} )</small></h6>
                            <p>{{ course.name }}</p>
                            <p class="h4">
                                {{ course.price }} <i class="fas fa-euro-sign"></i>
                            </p>
                        </figcaption>
                    </figure>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
