{% extends "templateAdmin.php.twig" %}

{% block content %}

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
        <div class="container">

            {% for lecture in lectures %}
                <div class="row">
                    <div class="col-xs-6 col-sm-7 col-md-7 col-lg-6 col-xl-5">
                        <iframe class="embed-responsive-item" src="{{ lecture.videoURL }}"
                                allowfullscreen></iframe>
                    </div>
                    <div class="col-xs-6 col-sm-9 col-md-7 col-lg-6 col-xl-5">
                        <p class="mt-4">Peržiūrėta: XXX kartų</p>
                        <p>Įkelta: {{ lecture.createdOn }}</p>
                        <p>Komentarai: 1 žiūrėti</p>
                    </div>
                </div>
            {% endfor %}
            <div class="d-flex justify-content-center align-items-center">
                <nav aria-label="Page navigation example" class="text-center">
                    <ul class="pagination m-0">
                        <li class="page-item{{ (page <= 1) ? ' disabled' }}"><a class="page-link" href="{{ route('admin.videostats.page', {'page' : (page <= 1 ? 1 : page - 1)}) }}">Previous</a>
                        </li>
                        {% for i in range((page - 1 <= 1 ? 1 : page - 1), (page + 1 >= pageCount ? pageCount : page + 1)) %}
                            {% if i > 0 %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ route('admin.videostats.page', {'page' : i}) }}">{{ i }}</a>
                                </li>
                            {% endif %}
                            {% if i == 0 %}
                                <li class="page-item"><a class="page-link"
                                                         href="{{ route('admin.videostats.page', {'page' : 2}) }}">{{ 2 }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        {% if page < pageCount - 1 and page > 0 %}
                            <li class="page-item"><a class="page-link"
                                                     href="{{ route('admin.videostats.page', {'page' : pageCount}) }}">{{ pageCount }}</a>
                            </li>
                        {% endif %}
                        <li class="page-item{{ (page >= pageCount) ? ' disabled' }}"><a class="page-link"
                                                                                        href="{{ route('admin.videostats.page', {'page' : (page >= pageCount ? pageCount : page + 1)}) }}">Next</a>
                        </li>
                    </ul>
                    <div class="my-2">
                        Page {{ page }} - {{ pageCount }}
                    </div>
                </nav>
            </div>
        </div>
    </div>

{% endblock %}
