{% extends "template.php.twig" %}

{% block content %}

    <!-- Navigation -->

    <div>
        {{ include('components/topNavbar.html.twig') }}
    </div>

    <!-- Content -->

    <div class="container-fluid border bg-light p-3">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-sm-2">
                <div>
                    {{ include('components/userNavbar.html.twig') }}
                </div>
            </div>
            <!-- Main -->
            <div class="container shadow">
                <div class="row">
                    <div class="col pb-2">
                        <div>
                            <h1 class="text-center mb-3 pb-3 border-bottom border-dark">Profilis</h1>
                        </div>
                    </div>
                    <div class="w-100"></div>
                    <div class="col-sm-4 pb-2">
                        <div class="row mx-auto pt-2">
                            <div class="col-sm-7">
                                <div class="row pl-2">
                                    <i class="far fa-user fa-9x"></i>
                                </div>
                                <br>
                                <h3 class="text-success"> {{ profile.name }} &nbsp; {{ profile.surname }} </h3>
                                <p class="text-muted pl-2">({{ profile.email }})</p>

                                <div>Su mumis nuo:</div>
                                <div>{{ profile.createdOn|date("Y/m/d") }}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8 pb-2 border-left">
                        <div class="col pb-2">
                            <div>
                                <h3 class="text-center mb-3 pb-3">Mokėjimai</h3>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        <div class="col text-center">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">Kurso pavadinimas</th>
                                    <th scope="col">Kaina</th>
                                    <th scope="col">Užsakymo data</th>
                                    <th scope="col"></th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for payment in payments %}
                                    <tr id="{{ payment.id }}">
                                        <td class="border-right">{{ payment.productId }}</td>
                                        <td class="border-right">{{ payment.price }} &#8364;</td>
                                        <td class="border-right">{{ payment.createdOn }}</td>
                                        <td>
                                            <a href="{{ route('user.payments.show',{'payment':payment.id}) }}">pdf</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr> <!-- A gap after the last table's record-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
