{% extends "template.php.twig" %}

{% block content %}

<!-- Navigation -->

<div>
    {{ include('components/topNavbar.html.twig') }}
</div>

<!-- Content -->

<div class="container-fluid border bg-light p-3">
    <div class="row">
        <!-- Sidebar -->
        <div class="col-sm-2">
            <div>
                {{ include('components/userNavbar.html.twig') }}
            </div>
        </div>
        <!-- Main -->
        <div class="col-sm-9">
            <div>
                <h1 class="text-center mb-5 mt-5">Visi kursai</h1>
            </div>
            <div class="row mx-auto">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{{ route('course.videos') }}">
                            <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                 alt="CourseName1" style="width:100%">
                            <div class="caption text-center">
                                <a href="{{ route('course.videos') }}"
                                   class="btn btn-secondary btn-lg active mt-1 mb-5"
                                   role="button" aria-pressed="true">Žiūrėti</a>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{{ route('course.videos') }}">
                            <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                 alt="2" style="width:100%">
                            <div class="text-center">
                                <a href="{{ route('course.videos') }}"
                                   class="btn btn-secondary btn-lg active mt-1 mb-5"
                                   role="button" aria-pressed="true">Žiūrėti</a>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{{ route('course.videos') }}">
                        <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                             alt="CourseName3" style="width:100%">
                        <div class="text-center">
                            <a href="{{ route('course.videos') }}" class="btn btn-secondary btn-lg active mt-1 mb-5"
                               role="button" aria-pressed="true">Žiūrėti</a>
                        </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="{{ route('course.videos') }}">
                            <img src="https://erasmuscoursescroatia.com/wp-content/uploads/2019/12/Online-courses.jpg"
                                 alt="CourseName3" style="width:100%">
                            <div class="text-center">
                                <a href="{{ route('course.videos') }}" class="btn btn-secondary btn-lg active mt-1"
                                   role="button" aria-pressed="true">Žiūrėti</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        {% endblock %}
